# Assignment 4 - Dataset 1: IPL data

In [2]:
import pandas as pd

In [3]:
ipl_del = pd.read_csv("ipldata\deliveries.csv")

In [4]:
ipl_del.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [5]:
ipl_match = pd.read_csv("ipldata\matches.csv")

In [6]:
ipl_match.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

##  1) Which team has won/lost maximum number of matches while chasing?

In [195]:
# Max wins while chasing
ipl_match[ipl_match['winner']==ipl_match['team2']]['winner'].value_counts().idxmax()

'Kolkata Knight Riders'

In [162]:
# Max loss while chasing
ipl_match[ipl_match['winner']!=ipl_match['team2']]['team2'].value_counts().idxmax()

'Delhi Daredevils'

## 2) Which toss decision is best for each ground?

In [9]:
temp = ipl_match[['winner','team1','team2','venue']]
temp['bat'] = (temp['team1'] == temp['winner'])
temp['field'] = (temp['team2'] == temp['winner'])
temp = temp[['venue','bat','field']]
tt1 = pd.DataFrame(temp.groupby('venue')['bat'].apply(lambda x: x[x == True].count()))
tt2 = pd.DataFrame(temp.groupby('venue')['field'].apply(lambda x: x[x == True].count()))
t2sol = pd.merge(tt1, tt2, on='venue')
t2sol['decision'] = t2sol.apply (lambda row: ('bat' if row['bat']>row['field'] else 'bat or field') if row['bat']>=row['field'] else 'field', axis=1)
t2sol['decision']

C:\Users\Utkarsh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Utkarsh\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

venue
ACA-VDCA Stadium                                               field
Barabati Stadium                                                 bat
Brabourne Stadium                                                bat
Buffalo Park                                                     bat
De Beers Diamond Oval                                          field
Dr DY Patil Sports Academy                                     field
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium              bat
Dubai International Cricket Stadium                            field
Eden Gardens                                                   field
Feroz Shah Kotla                                               field
Feroz Shah Kotla Ground                                        field
Green Park                                                     field
Himachal Pradesh Cricket Association Stadium                     bat
Holkar Cricket Stadium                                         field
IS Bindra Stadium                                              field
JSCA International Stadium Complex                             field
Kingsmead                                                        bat
M Chinnaswamy Stadium                                          field
M. A. Chidambaram Stadium                               bat or field
M. Chinnaswamy Stadium                                  bat or field
MA Chidambaram Stadium, Chepauk                                  bat
Maharashtra Cricket Association Stadium                        field
Nehru Stadium                                                    bat
New Wanderers Stadium                                          field
Newlands                                                         bat
OUTsurance Oval                                         bat or field
Punjab Cricket Association IS Bindra Stadium, Mohali    bat or field
Punjab Cricket Association Stadium, Mohali                     field
Rajiv Gandhi International Stadium, Uppal                      field
Rajiv Gandhi Intl. Cricket Stadium                               bat
Sardar Patel Stadium, Motera                            bat or field
Saurashtra Cricket Association Stadium                         field
Sawai Mansingh Stadium                                         field
Shaheed Veer Narayan Singh International Stadium               field
Sharjah Cricket Stadium                                        field
Sheikh Zayed Stadium                                             bat
St George's Park                                               field
Subrata Roy Sahara Stadium                                       bat
SuperSport Park                                                field
Vidarbha Cricket Association Stadium, Jamtha                     bat
Wankhede Stadium                                               field
Name: decision, dtype: object

## 3) Which player has won maximum number of MoM awards while chasing?

In [89]:
ipl_match[ipl_match['winner']==ipl_match['team2']]['player_of_match'].value_counts().idxmax()

'YK Pathan'

## 4) Which batsman has played maximum number of dot balls?

In [139]:
ipl_del[ipl_del['total_runs']==0].groupby('batsman')['total_runs'].value_counts().idxmax()[0]

'V Kohli'

## 5) Which batsmen came to crease but never got a chance to face a ball?

In [227]:
print("Match ID" , " -> ")
for match,group in ipl_del.groupby('match_id'):
    non_str = set(group['non_striker'])
    striker = set(group['batsman'])
    if len(non_str-striker):
        print( match," -> " , list(non_str-striker))

2  ->  ['MJ McClenaghan']
3  ->  ['DR Smith']
4  ->  ['R Bhatia']
10  ->  ['A Nehra']
11  ->  ['Sandeep Sharma']
21  ->  ['CH Morris']
28  ->  ['MJ McClenaghan', 'MG Johnson']
29  ->  ['MK Pandey']
31  ->  ['PJ Cummins']
37  ->  ['S Aravind']
43  ->  ['A Nehra', 'JD Unadkat']
45  ->  ['S Aravind']
51  ->  ['S Nadeem']
54  ->  ['Sandeep Sharma']
64  ->  ['PP Ojha']
71  ->  ['AB Dinda']
74  ->  ['JDP Oram']
75  ->  ['I Sharma']
79  ->  ['Joginder Sharma']
80  ->  ['DP Vijaykumar', 'SB Bangar']
82  ->  ['A Nehra']
90  ->  ['A Kumble']
91  ->  ['S Sreesanth']
95  ->  ['GD McGrath']
109  ->  ['A Nel']
111  ->  ['Z Khan']
115  ->  ['MM Patel']
118  ->  ['PR Shah']
119  ->  ['DW Steyn']
120  ->  ['T Kohli', 'PP Chawla']
125  ->  ['L Balaji', 'DL Vettori']
129  ->  ['R Vinay Kumar']
130  ->  ['K Goel']
131  ->  ['MS Gony']
135  ->  ['Z Khan']
138  ->  ['AB Agarkar']
139  ->  ['RR Powar']
140  ->  ['Y Venugopal Rao']
141  ->  ['A Nehra', 'S Tyagi']
148  ->  ['A Kumble']
150  ->  ['SL Malinga']
155  ->  ['RP Singh']
157  ->  ['PP Chawla']
158  ->  ['PJ Sangwan']
159  ->  ['S Tyagi']
160  ->  ['SK Warne']
163  ->  ['AB Agarkar']
164  ->  ['Jaskaran Singh']
170  ->  ['DS Kulkarni', 'SL Malinga']
176  ->  ['Z Khan', 'SA Asnodkar']
183  ->  ['R Sathish']
187  ->  ['AD Mathews']
188  ->  ['SL Malinga']
193  ->  ['AA Jhunjhunwala']
195  ->  ['PP Ojha']
196  ->  ['WP Saha']
198  ->  ['SK Warne']
199  ->  ['PP Ojha']
202  ->  ['C Ganapathy']
204  ->  ['Y Venugopal Rao']
206  ->  ['S Anirudha']
210  ->  ['PP Ojha', 'Harmeet Singh']
214  ->  ['P Kumar']
216  ->  ['SB Jakati']
227  ->  ['Kamran Khan']
232  ->  ['SB Jakati']
233  ->  ['Harmeet Singh']
247  ->  ['KA Pollard']
250  ->  ['S Nadeem']
258  ->  ['MK Tiwary']
266  ->  ['AB Agarkar']
268  ->  ['A Mithun']
271  ->  ['M Kartik']
273  ->  ['TL Suman']
275  ->  ['MV Boucher']
276  ->  ['JA Morkel']
283  ->  ['RP Singh']
285  ->  ['SK Trivedi']
286  ->  ['I Sharma']
287  ->  ['SL Malinga']
289  ->  ['WP Saha']
291  ->  ['A Mithun']
292  ->  ['DS Kulkarni', 'SL Malinga']
302  ->  ['SB Jakati']
305  ->  ['RG Sharma']
307  ->  ['S Badrinath']
310  ->  ['R Sharma']
313  ->  ['TP Sudhindra']
318  ->  ['M Vijay']
320  ->  ['Z Khan']
329  ->  ['B Kumar']
331  ->  ['PA Patel']
343  ->  ['P Awana']
345  ->  ['AB Agarkar']
347  ->  ['LR Shukla']
353  ->  ['M Kartik']
357  ->  ['M Morkel']
366  ->  ['PA Reddy']
370  ->  ['MM Patel']
376  ->  ['DW Steyn']
377  ->  ['GB Hogg']
382  ->  ['UT Yadav']
385  ->  ['S Sreesanth']
386  ->  ['DP Nannes']
388  ->  ['A Mishra']
400  ->  ['L Balaji', 'P Awana']
405  ->  ['MS Gony']
406  ->  ['JH Kallis']
412  ->  ['PP Chawla']
416  ->  ['I Sharma']
417  ->  ['AT Rayudu']
424  ->  ['G Gambhir']
431  ->  ['M Rawat']
434  ->  ['AT Rayudu', 'Harbhajan Singh']
435  ->  ['I Sharma']
445  ->  ['LJ Wright']
449  ->  ['A Mishra']
451  ->  ['S Kaul']
452  ->  ['S Badrinath']
454  ->  ['MM Patel']
461  ->  ['DW Steyn']
463  ->  ['NM Coulter-Nile']
465  ->  ['BW Hilfenhaus']
466  ->  ['AR Patel']
468  ->  ['MA Starc']
471  ->  ['YS Chahal', 'STR Binny']
473  ->  ['Z Khan']
478  ->  ['R Vinay Kumar']
480  ->  ['WD Parnell']
484  ->  ['AP Tare']
490  ->  ['R Ashwin']
494  ->  ['KK Cooper']
497  ->  ['RN ten Doeschate']
511  ->  ['Parvez Rasool', 'R Vinay Kumar']
513  ->  ['KK Cooper']
514  ->  ['M Morkel', 'SP Narine']
519  ->  ['DJ Muthuswami']
520  ->  ['TG Southee']
521  ->  ['DJ Bravo']
522  ->  ['PP Chawla']
524  ->  ['R Vinay Kumar']
528  ->  ['R Dhawan', 'MK Tiwary']
530  ->  ['J Suchith']
539  ->  ['JJ Bumrah']
549  ->  ['Harbhajan Singh']
554  ->  ['YS Chahal', 'Mandeep Singh', 'MM Sharma']
560  ->  ['GJ Bailey', 'UT Yadav']
564  ->  ['BE Hendricks']
566  ->  ['HV Patel']
568  ->  ['SN Khan']
575  ->  ['RA Jadeja']
579  ->  ['MG Johnson']
585  ->  ['MJ McClenaghan']
590  ->  ['HV Patel']
592  ->  ['I Sharma']
596  ->  ['SP Narine']
597  ->  ['MM Sharma', 'KH Pandya']
598  ->  ['A Nehra']
601  ->  ['P Kumar']
602  ->  ['GB Hogg']
604  ->  ['S Kaushik']
606  ->  ['VR Aaron']
614  ->  ['DJ Bravo']
615  ->  ['STR Binny']
616  ->  ['R Bhatia']
622  ->  ['GJ Maxwell']
634  ->  ['M Morkel', 'BB Sran']
7896  ->  ['Washington Sundar']
7899  ->  ['C Munro', 'SS Iyer']
7905  ->  ['BB Sran']
7906  ->  ['S Mavi']
7908  ->  ['JD Unadkat']
7912  ->  ['CH Morris']
7914  ->  ['JD Unadkat']
7917  ->  ['Mohammed Siraj']
7919  ->  ['V Shankar']
7920  ->  ['RA Jadeja']
7921  ->  ['Basil Thampi']
7923  ->  ['RA Jadeja']
7924  ->  ['MJ McClenaghan']
7925  ->  ['J Archer']
7926  ->  ['KV Sharma']
7927  ->  ['R Ashwin']
7930  ->  ['PP Chawla']
7934  ->  ['JP Duminy']
7935  ->  ['V Shankar']
7936  ->  ['J Archer']
7940  ->  ['BA Stokes', 'JP Duminy']
7947  ->  ['S Gill', 'S Kaul']
7948  ->  ['Mustafizur Rahman']
7951  ->  ['PP Chawla']
7952  ->  ['P Krishna']
11139  ->  ['JJ Bumrah']
11145  ->  ['M Markande']
11146  ->  ['HV Patel']
11148  ->  ['JD Unadkat']
11149  ->  ['M Ur Rahman']
11152  ->  ['I Sharma']
11310  ->  ['A Joseph']
11318  ->  ['KH Pandya']
11320  ->  ['Kuldeep Yadav']
11322  ->  ['KA Pollard', 'Mohammed Siraj']
11323  ->  ['JD Unadkat']
11324  ->  ['YK Pathan']
11325  ->  ['I Sharma', 'K Paul', 'KA Pollard']
11326  ->  ['KD Karthik']
11330  ->  ['DW Steyn', 'SN Thakur']
11331  ->  ['SV Samson']
11332  ->  ['DJ Bravo']
11335  ->  ['Imran Tahir']
11336  ->  ['S Kaul']
11337  ->  ['UT Yadav']
11340  ->  ['UT Yadav']
11342  ->  ['Rashid Khan']
11347  ->  ['SP Narine']
11413  ->  ['TA Boult', 'B Kumar']
11415  ->  ['JJ Bumrah']

## 6) Which bowler has hit for maximum number of 1s/2s/3s/4s/6s?

In [197]:
for i in [1,2,3,4,6]:
    print(i, " -> ",ipl_del[ipl_del['total_runs'] == i][['bowler','total_runs']].groupby('bowler').sum().idxmax()[0])

1  ->  Harbhajan Singh
2  ->  DJ Bravo
3  ->  P Kumar
4  ->  UT Yadav
6  ->  PP Chawla

## 7) Which batsman got stumped out maximum number of times?

In [210]:
ipl_del[ipl['dismissal_kind'] == 'stumped'][['batsman','dismissal_kind']].groupby('batsman').count().idxmax()[0]

'SK Raina'

## 8) Which non-striker has been part of maximum number of runouts?

In [215]:
ipl_del[(ipl['dismissal_kind'] == 'run out') & (ipl_del['non_striker'] == ipl_del['player_dismissed'])][['non_striker','dismissal_kind']].groupby('non_striker').count().idxmax()[0]

'AB de Villiers'

## Make at least 5 more new queries and find answers to them.

## 9) Which batsman has played minimum number of dot balls?

In [220]:
ipl_del[ipl_del['total_runs']==0].groupby('batsman')['total_runs'].value_counts().idxmin()[0]

'C Nanda'

## 10) Which bowler has bowled maximum number of dot balls?

In [222]:
ipl_del[ipl_del['total_runs']==0].groupby('bowler')['total_runs'].value_counts().idxmax()[0]

'Harbhajan Singh'

## 11) Which umpire officiated maximum number of matches

In [240]:
pd.concat([ipl_match['umpire1'],ipl_match['umpire2'],ipl_match['umpire3']], ignore_index=True).value_counts().idxmax()

'S Ravi'

## 12) Team that won most by 10 wickets

In [246]:
ipl_match[ipl_match['win_by_wickets'] == 10].groupby('winner')['win_by_wickets'].value_counts().idxmax()[0]

'Royal Challengers Bangalore'

## 13) Which batsman got bowled maximum number of times?

In [248]:
ipl_del[ipl['dismissal_kind'] == 'bowled'][['batsman','dismissal_kind']].groupby('batsman').count().idxmax()[0]

'SR Watson'